{% extends 'myapp2/base.htmll' %}

{% block content %}
  <h2>{{ client.name }}'s Orders</h2>

  {% if orders %}
    <ul>
      {% for order in orders %}
        <li>
          <strong>Order Date:</strong> {{ order.order_date }}<br>
          <strong>Total Amount:</strong> {{ order.total_amount }}<br>
          <strong>Products:</strong>
          <ul>
            {% for product in order.products.all %}
              <li>{{ product.name }} - {{ product.price }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No orders available for {{ client.name }}.</p>
  {% endif %}
{% endblock %}